

body {
  <img src=("http://www.designlovefest.com/wp-content/uploads/downloads/2014/09/desktop_cloud1_DLF-1.jpg")
}

    
.nav > div{
  background: #ffaaee; /* #rrggbb */
  float: left;
  padding: 10px;
  border:4px dashed orange;
  border-radius: 4px;
}

.nav > div:hover {
  background: orange;
  
}
